<h2>Create Account</h2>
<form autocomplete="on" class="create-form">
  <div class="form-group">
  <div class="form-group">
    <label for="username-create">Username</label>
    <input type="username" class="w-100 m-1 mx-0 form-control" name="username" id="username" aria-describedby="usernameHelp"
      placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password-create">Password</label>
    <input type="password" class="w-100 m-1 mx-0 form-control" name="password" id="password">
  </div>
  <div class="form-group">
    <button class="w-100 mx-0 m-1 btn btn-success" type="submit">Create Account</button>
  </div>
</form>
<script src="/js/create.js"></script>