<div class="container mt-5">
  <div class="text-center">
      <h1 class="display-4">Knock Out Your Chores with ChoreChampion!</h1>
  </div>
  <div class="row justify-content-center mt-5">
      <div class="col-md-8">
          <div class="card mb-4">
              <div class="card-body">

                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                          <h2 class="accordion-header text-center" id="headingOne">
                              <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Learn More
                              </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  <strong>Fight Your Way to Victory:</strong> ChoreChampion employs advanced algorithms to prioritize tasks, empowering you to take on your to-do list like a pro and emerge victorious over the chaos.
                                  <br><br>
                                  <strong>Unleash Your Potential:</strong> Craft a chore schedule that aligns with your unique style, enabling you to punch through daily hurdles and achieve your goals with precision.
                                  <br/><br/>
                                  <strong>Pack a Punch:</strong> ChoreChampion leverages the power of the knapsack problem, an optimization strategy that selects tasks with the highest value to fit within your available time, ensuring maximum productivity and satisfaction.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<p>We don't ask for your information.<br/>Here's a random username and password for you, just make sure to save it in your password manager.</p>
<form autocomplete="on" class="create-form">
  <div class="form-group">
  <div class="form-group">
    <label for="username-create">Username</label>
    <input type="username" class="w-100 m-1 mx-0 form-control" name="username" id="username" aria-describedby="usernameHelp"
      placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password-create">Password</label>
    <input type="password" class="w-100 m-1 mx-0 form-control" name="password" id="password">
  </div>
  <div class="form-group">
    <button class="w-100 mx-0 m-1 btn btn-success" type="submit">Become a Chore Champion!</button>
  </div>
</form>
<script src="/js/create.js"></script>